[Unit]
Description=MPT SuperBot FastAPI Server
After=network.target

[Service]
User=tuanda05
WorkingDirectory=/home/tuanda05/Tool/SuperBot
ExecStart=/home/tuanda05/Tool/SuperBot/.venv/bin/python3 main.py
Restart=always
RestartSec=5
Environment=PATH=/home/tuanda05/Tool/SuperBot/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
